<%= render 'shared/errors', obj: @post %>



<%= form_for @post do |f| %>
  <div class="control-group well">
  <%= f.label :title %>
  <%= f.text_field :title %>
  </div>
  <div class="control-group well">
  <%= f.label :description %>
  <%= f.text_area :description, row: 3, class: "span4" %>
  </div>
  <div class='control-group'>
    <%= f.label "Categories" %>
    <%= f.collection_check_boxes :category_ids, Category.all, :id, :name do |cb| %>
      <% cb.label(class: "checkbox inline") {cb.check_box(class: "checkbox") + cb.text} %>
    <% end %>
  </div>

  <%= f.submit "Create Post", class: 'btn btn-primary' %>
<% end %>



